@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap');
/*Import helveltica using google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;300;400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgba(225, 209, 119, 0.63), rgba(95, 45, 182, 0.82));
}

body{
    background-image: linear-gradient(rgb(8, 4, 19), rgb(4, 14, 24));
    color: white;

}

.blob{
  width:700px;
  height: 700px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
  border-radius: 69% 31% 44% 56% / 43% 27% 73% 57% ;
  background-image: linear-gradient(rgba(158, 31, 222, 0.63), rgba(0, 243, 255, 0.64));
  position: absolute;
  top:-95px;
  right: -55px;
  z-index: -1;
    overflow: auto;

}

#blob2 {
    border-radius: 61% 67% 84% 37% / 66% 83% 32% 56%;
    position: absolute;
    background-image: linear-gradient(rgba(158, 31, 222, 0.63), rgba(0, 243, 255, 0.64));
    margin-top: 0px;
    top:-100px;
    left: -200px;
    text-align: center;
}

.outer{
  padding: 0px;
  margin-top: 150px;
  text-align: center;
  font-family: 'Helvetica Neue','Montserrat', sans-serif;
}

.outer img{
  width: 390px;
  display: inline-block;
}


.inner{
  padding-left: 0px;
  display: inline-block;
  width: 450px;
  margin-right: 300px;
}

.inner h2{
  font-size: 2.9rem;
  text-align: left;
  line-height: 4rem;
}
.inner h3{
  margin-top: 20px;
  font-size: 1rem;
  text-align: left;
  line-height: 2rem;
  font-weight: 500;
}

.inner-2 h3{
    font-weight: 500;
    font-size: 1.3rem;
}

.inner-2{
    padding-left: 0px;
    margin-left: 200px;
}


                                                                  .button-29 {
                                                                 align-items: center;
                                                                 appearance: none;
                                                                 background-image: linear-gradient(rgba(158, 31, 222, 0.63), rgba(0, 243, 255, 0.64));
                                                                 border: 0;
                                                                 border-radius: 6px;
                                                                 box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
                                                                 box-sizing: border-box;
                                                                 color: #6d4bb2;
                                                                 cursor: pointer;
                                                                 display: flex;
                                                                 font-family: "JetBrains Mono",monospace;
                                                                 height: 48px;
                                                                 justify-content: center;
                                                                 line-height: 1;
                                                                 list-style: none;
                                                                 overflow: hidden;
                                                                 padding-left: 16px;
                                                                 padding-right: 16px;
                                                                 position: relative;
                                                                 text-align: left;
                                                                 text-decoration: none;
                                                                 transition: box-shadow .15s,transform .15s;
                                                                 user-select: none;
                                                                 -webkit-user-select: none;
                                                                 touch-action: manipulation;
                                                                 white-space: nowrap;
                                                                 will-change: box-shadow,transform;
                                                                 font-size: 18px;
                                                                      margin-top: 20px;
                                                               }

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.spacer{
    height: 300px;
}